In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('data//Crime_Data_2010_2017.csv')

In [3]:
data.head(2)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"

In [4]:
data.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [5]:
columns_to_drop = ['Area ID', 'Premise Code', 'Reporting District', 'Crime Code', 'MO Codes', 'Weapon Used Code', 'Weapon Description', 'Status Code', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4', 'Cross Street']
df_coldrop = data.drop(columns_to_drop, axis=1)
df_coldrop.head(2)
# DR Number netreba
# Date Reporter, Date Occurred - ako analyzovat?
# crime code netreba
#

,DR Number,Date Reported,Date Occurred,Time Occurred,Area Name,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Description,Status Description,Crime Code 1,Address,Location
0,1208575,03/14/2013,03/11/2013,1800,77th Street,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Adult Other,626.0,6300 BRYNHURST AV,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,Olympic,VEHICLE - STOLEN,NaN,NaN,NaN,STREET,Invest Cont,510.0,VAN NESS,"(34.0454, -118.3157)"

In [36]:
len(df_victims_only['Premise Description'].unique())
# date occured - je to casvovy sled mozme usporiadat
# podobne prace, sklearn, podobne ulohy, kaggle
# bar plot - histogram = po dummy_variables, pozri, ktore sltpce maju malu pocetnost, vyhodit je
# location - pozriet rozdiely, min, max, dev?

210

In [6]:
# pocet s NaN
len(df_coldrop)

1584316

In [7]:
# pocet bez NaN
df_victims_only = df_coldrop.dropna()
len(df_victims_only)

1327814

In [20]:
#list(df_victims_only['Time Occurred'].unique()

In [25]:
df_victims_only['Time Occurred'].head(10)

0     1800
4     2300
5     1400
9      800
12    1200
13    1200
14    2030
15     500
16    1420
17    1430
Name: Time Occurred, dtype: int64

In [29]:
# cas sme rozbinovali na kategoricke premenne podla intervalov:
# (2100, 500> night
# (500, 1200> morning
# (1200, 1700> afternoon
# (1700, 2100> evening
pd.cut(df_victims_only['Time Occurred'], [0, 500, 1200, 1700, 2100, 2400], labels=['night', 'morning', 'afternoon', 'evening', 'night2']).replace('night2', 'night').head()

0       evening
4         night
5     afternoon
9       morning
12      morning
Name: Time Occurred, dtype: category
Categories (5, object): [night < morning < afternoon < evening < night2]

In [13]:
pd.get_dummies(df_victims_only, columns=['Area Name', 'Crime Code Description', 'Premise Description', 'Victim Sex', 'Victim Descent'], drop_first=True)

,DR Number,Date Reported,Date Occurred,Time Occurred,Victim Age,Status Description,Crime Code 1,Address,Location,Area Name_Central,...,Victim Descent_K,Victim Descent_L,Victim Descent_O,Victim Descent_P,Victim Descent_S,Victim Descent_U,Victim Descent_V,Victim Descent_W,Victim Descent_X,Victim Descent_Z
0,1208575,03/14/2013,03/11/2013,1800,30.0,Adult Other,626.0,6300 BRYNHURST AV,"(33.9829, -118.3338)",0,...,0,0,0,0,0,0,0,1,0,0
4,42104479,01/11/2014,01/04/2014,2300,84.0,Invest Cont,745.0,7200 CIRRUS WY,"(34.2009, -118.6369)",0,...,0,0,0,0,0,0,0,1,0,0
5,120125367,01/08/2013,01/08/2013,1400,49.0,Adult Arrest,110.0,600 N HILL ST,"(34.0591, -118.2412)",1,...,0,0,0,0,0,0,0,1,0,0
9,120908292,03/29/2013,01/15/2013,800,27.0,Invest Cont,668.0,7200 SEPULVEDA BL,"(34.2012, -118.4662)",0,...,0,0,1,0,0,0,0,0,0,0
12,121207315,02/22/2013,02/13/2013,1200,42.0,Invest Cont,440.0,82ND,"(33.9651, -118.2783)",0,...,0,0,0,0,0,0,0,0,0,0
13,121215506,06/20/2013,06/07/2013,1200,29.0,Adult Other,763.0,100 W 82ND ST,"(33.9651, -118.2754)",0,...,0,0,0,0,0,0,0,0,0,0
14,121504289,01/06/2013,01/06/2013,2030,12.0,Invest Cont,442.0,13000 SHERMAN WY,"(34.2012, -118.416)",0,...,0,0,1,0,0,0,0,0,0,0
15,121801608,01/02/2013,01/01/2013,500,19.0,Invest Cont,626.0,CENTURY BL,"(33.9456, -118.2652)",0,...,0,0,0,0,0,0,0,0,0,0
16,130100507,01/02/2013,01/02/2013,1420,23.0,Invest Cont,624.0,800 S SPRING ST,"(34.0431, -118.2536)",1,...,0,0,0,0,0,0,0,0,0,0
17,130100508,01/02/2013,01/02/2013,1430,39.0,Invest Cont,626.0,4TH,"(34.0503, -118.2504)",1,...,0,0,0,0,0,0,0,0,0,0
18,130100509,01/02/2013,01/02/2013,1500,18.0,Juv Arrest,624.0,300 E PICO BL,"(34.0352, -118.2583)",1,...,0,0,0,0,0,0,0,0,0,0
19,130100515,01/05/2013,01/04/2013,1730,25.0,Invest Cont,670.0,700 W 7TH ST,"(34.048, -118.2577)",1,...,0,0,0,0,0,0,0,0,0,0
20,130100518,01/05/2013,01/05/2013,100,34.0,Invest Cont,626.0,800 W OLYMPIC BL,"(34.045, -118.264)",1,...,0,0,0,0,0,0,0,0,0,0
21,130100519,01/05/2013,01/05/2013,2200,37.0,Invest Cont,649.0,1300 S FIGUEROA ST,"(34.0407, -118.268)",1,...,0,0,0,0,0,0,0,0,0,0
22,130100521,01/05/2013,01/05/2013,1600,50.0,Adult Other,626.0,6TH ST,"(34.0423, -118.2452)",1,...,0,0,0,0,0,0,0,0,0,0
23,130100522,01/15/2013,01/05/2013,2010,20.0,Invest Cont,624.0,200 S SPRING ST,"(34.0517, -118.2456)",1,...,0,0,0,0,0,0,0,0,0,0
24,130100526,01/06/2013,01/06/2013,2315,32.0,Invest Cont,624.0,600 WALL ST,"(34.0435, -118.2471)",1,...,0,0,0,0,0,0,0,0,0,0
25,130100532,01/09/2013,01/09/2013,1120,18.0,Invest Cont,626.0,1300 S HOPE ST,"(34.0395, -118.2656)",1,...,0,0,0,0,0,0,0,0,0,0
27,130100538,01/12/2013,01/11/2013,1630,30.0,Adult Arrest,480.0,900 N ALAMEDA ST,"(34.0581, -118.2371)",1,...,0,0,0,0,0,0,0,1,0,0
28,130100539,01/12/2013,01/12/2013,1815,24.0,Invest Cont,210.0,BISHOPS,"(34.0688, -118.2333)",1,...,0,0,0,0,0,0,0,0,0,0
29,130100544,01/12/2013,01/12/2013,1930,48.0,Invest Cont,626.0,400 S MAIN ST,"(34.0482, -118.2472)",1,...,0,0,0,0,0,0,0,0,0,0
30,130100545,01/13/2013,01/10/2013,300,18.0,Invest Cont,821.0,6TH,"(34.0423, -118.2452)",1,...,0,0,0,0,0,0,0,1,0,0
31,130100546,01/13/2013,01/13/2013,140,27.0,Adult Other,626.0,800 W OLYMPIC BL,"(34.045, -118.264)",1,...,0,0,0,0,0,0,0,0,0,0
32,130100547,01/13/2013,01/13/2013,140,24.0,Adult Other,626.0,800 W OLYMPIC BL,"(34.045, -118.264)",1,...,0,0,0,0,0,0,0,0,0,0
33,130100548,01/13/2013,01/13/2013,1225,45.0,Adult Arrest,220.0,3RD,"(34.051, -118.248)",1,...,0,0,0,0,0,0,0,0,0,0
34,130100550,01/18/2013,01/16/2013,1340,50.0,Adult Arrest,626.0,800 YALE ST,"(34.0632, -118.2408)",1,...,0,0,0,0,0,0,0,0,0,0
35,130100552,01/16/2013,01/16/2013,1900,60.0,Invest Cont,745.0,BOYD,"(34.0467, -118.2427)",1,...,0,0,0,0,0,0,0,0,0,0
37,130100558,01/18/2013,01/18/2013,1800,45.0,Adult Arrest,888.0,600 S SAN PEDRO ST,"(34.0423, -118.2452)",1,...,0,0,0,0,0,0,0,0,0,0
38,130100561,01/19/2013,01/17/2013,2200,40.0,Invest Cont,341.0,600 W 9TH ST,"(34.0451, -118.2604)",1,...,0,0,0,0,0,0,0,1,0,0
41,130100565,01/20/2013,01/18/2013,1700,23.0,Invest Cont,660.0,500 W OLYMPIC BL,"(34.043, -118.2606)",1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584285,172116420,09/05/2017,08/31/2017,1700,35.0,Invest Cont,341.0,8700 REMMET AV,"(34.2282, -118.6002)",0,...,0,0,0,0,0,0,0,0,1,0
1584286,172116421,09/06/2017,09/06/2017,1510,35.0,Invest Cont,442.0,23300 MULHOLLAND DR,"(34.1571, -118.6349)",0,...,0,0,0,0,0,0,0,0,1,0
1584287,172116425,09/06/2017,09/06/2017,1425,53.0,Invest Cont,928.0,23500 KIVIK ST,"(34.1675, -118.6396)",0,...,0,0,0,0,0,0,0,1,0,0
1584288,172116426,09/06/2017,09/06/2017,1455,55.0,Invest Cont,320.0,8300 FAUST AV,"(34.2198, -118.6203)",0,...,0,0,0,0,0,0,0,1,0,0
1584289,172116427,09/05/2017,09/05/2017,1725,40.0,Invest Cont,626.0,21700 SHERMAN WY,"(34.2047, -118.5994)",0,...,0,0,0,0,0,0,0,0,0,0
1584290,172116430,09/06/2017,09/06/2017,1615,35.0,Invest Cont,442.0,6100 CANOGA AV,"(34.1805, -118.5975)",0,...,0,0,0,0,0,0,0,0,1,0
1584291,172116436,09/06/2017,09/06/2017,2100,43.0,Invest Cont,761.0,20300 COHASSET ST,"(34.2071, -118.5754)",0,...,0,0,0,0,0,0,0,0,0,0
1584292,172116438,09/07/2017,09/02/2017,1830,28.0,Invest Cont,946.0,22500 CANTLAY ST,"(34.2021, -118.6167)",0,...,0,0,0,0,0,0,0,1,0,0
1584293,172116440,09/07/2017,09/06/2017,2051,39.0,Invest Cont,310.0,4700 ABBEYVILLE AV,"(34.156, -118.6307)",0,...,0,0,0,0,0,0,0,1,0,0
1584294,172116447,09/07/2017,09/07/2017,424,57.0,Invest Cont,310.0,7500 TOPANGA CANYON BL,"(34.2034, -118.6135)",0,...,0,0,0,0,0,0,0,1,0,0
1584295,172116448,09/06/2017,01/01/2016,1155,31.0,Invest Cont,946.0,20200 CANTARA ST,"(34.2192, -118.5739)",0,...,0,0,1,0,0,0,0,0,0,0
1584296,172116452,07/02/2017,06/23/2017,1200,59.0,Invest Cont,649.0,21500 VICTORY BL,"(34.1882, -118.5988)",0,...,0,0,0,0,0,0,0,1,0,0
1584297,172116453,09/07/2017,09/02/2017,1000,65.0,Invest Cont,354.0,7300 IRONDALE AV,"(34.2034, -118.5852)",0,...,0,0,0,0,0,0,0,1,0,0
1584299,172116463,09/07/2017,09/07/2017,1315,27.0,Invest Cont,440.0,6600 TOPANGA CANYON BL,"(34.1905, -118.6059)",0,...,0,0,0,0,0,0,0,1,0,0
1584300,172116464,09/07/2017,09/07/2017,200,40.0,Invest Cont,440.0,20200 SHERMAN WY,"(34.201, -118.5732)",0,...,0,0,0,0,0,0,0,0,1,0
1584301,172116465,09/07/2017,09/07/2017,5,59.0,Invest Cont,331.0,22500 WATERBURY ST,"(34.1482, -118.6161)",0,...,0,0,0,0,0,0,0,0,0,0
1584302,172116466,09/07/2017,09/04/2017,2000,46.0,Invest Cont,331.0,22200 SCHOOLCRAFT ST,"(34.1965, -118.6103)",0,...,0,0,0,0,0,0,0,1,0,0
1584303,172116467,09/07/2017,09/07/2017,500,28.0,Adult Arrest,626.0,7200 KELVIN AV,"(34.2011, -118.5863)",0,...,0,0,0,0,0,0,0,0,0,0
1584304,172116469,09/06/2017,09/06/2017,2315,19.0,Invest Cont,761.0,5400 SALE AV,"(34.1675, -118.6188)",0,...,0,0,1,0,0,0,0,0,0,0
1584305,172116471,09/05/2017,09/05/2017,1730,68.0,Invest Cont,310.0,20000 WELLS DR,"(34.1648, -118.5771)",0,...,0,0,0,0,0,0,0,1,0,0
1584306,172116472,09/07/2017,09/04/2017,1830,28.0,Invest Cont,310.0,6300 CANOGA AV,"(34.1865, -118.6017)",0,...,0,0,0,0,0,0,0,1,0,0
1584307,172116473,09/07/2017,09/01/2017,1200,46.0,Invest Cont,354.0,21500 BLYTHE ST,"(34.2144, -118.5994)",0,...,0,0,0,0,0,0,0,0,1,0
1584308,172116474,09/07/2017,09/06/2017,1200,26.0,Invest Cont,354.0,7200 POMELO DR,"(34.2015, -118.6479)",0,...,0,0,0,0,0,0,0,1,0,0
1584309,172116478,09/07/2017,09/07/2017,2200,42.0,Invest Cont,230.0,21300 ERWIN ST,"(34.1829, -118.5959)",0,...,0,0,0,0,0,0,0,1,0,0
1584310,172116479,09/07/2017,09/07/2017,1030,38.0,Invest Cont,310.0,20200 DELITA DR,"(34.1641, -118.5742)",0,...,0,0,1,0,0,0,0,0,0,0
1584311,172116482,09/07/2017,09/07/2017,1005,51.0,Invest Cont,440.0,23800 CALVERT ST,"(34.1883, -118.6536)",0,...,0,0,0,0,0,0,0,1,0,0
1584312,172116489,09/07/2017,09/07/2017,1200,40.0,Invest Cont,330.0,6600 TOPANGA CANYON BL,"(34.1905, -118.6059)",0,...,0,0,0,0,0,0,0,1,0,0
1584313,172116491,08/30/2017,07/15/2017,1,52.0,Invest Cont,649.0,20900 SHERMAN WY,"(34.201, -118.5885)",0,...,0,0,0,0,0,0,0,1,0,0
1584314,172116498,09/08/2017,09/08/2017,1845,47.0,Invest Cont,946.0,REMMET,"(34.2029, -118.6003)",0,...,0,0,0,0,0,0,0,0,0,0
1584315,172116510,09/08/2017,07/12/2017,2230,42.0,Invest Cont,236.0,8600 INTERNATIONAL AV,"(34.2258, -118.5994)",0,...,0,0,0,0,0,0,0,0,0,0